<h2> <%= Sub.find_by_id(@post.sub_ids).title %>  </h2>

<h4> <%= @post.title %> </h4>
<%= User.find_by_id(@post.user_id).username %>
<br>
<%= link_to @post.url %>

<p>
  <%= @post.content %>
</p>

<label for="comments">Comments</label>
<%= link_to "Make a comment on this post", new_post_comment_url(@post)%>
<ul>
  <% @post.comments.each do |comment| %>
  <li> <%= link_to comment.content, comment_url(comment) %> </li>
  <% end %>
</ul>

<ul>
<% @post.subs.each do |sub| %>
  <li><%= link_to "Back to #{sub.title}", sub_url(sub)%></li>
<% end %>
</ul>
<%= button_to "Edit Post", edit_post_url(@post), method: :get %>
